<div id="<%= dom_id chat %>" class="w-full hover:bg-gray-700 group relative">
  <%= link_to chat_path(chat), 
      data: { turbo_frame: "chat_content" }, 
      class: "block p-3 cursor-pointer flex justify-between items-center" do %>
    <span class="text-sm font-medium text-white truncate">
      <%= chat.title %>
    </span>
    <div class="opacity-0 group-hover:opacity-100 flex items-center">
      <%= link_to chat_path(chat), 
          data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, 
          class: "text-gray-400 hover:text-red-500 ml-2" do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
        </svg>
      <% end %>
    </div>
  <% end %>
</div>
